<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Zallpy client</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet"> -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="css/style.css"> -->

</head>
<body>
	<div id="app">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="/">Zallpy</a>
	        </div>

	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li>
								<a class="navbar-brand" href="/signup">Sign up</a>
							</li>
	          </ul>
	        </div>
	      </div>
	    </nav>
		</div>
	</div>
	<!-- <script src="bundle.js"></script> -->
</body>
</html>